torch==2.6.0
datasets==4.1.1
transformers==4.57.1
peft==0.16.0
bitsandbytes==0.48.1
matplotlib==3.7.2
bert_score==0.3.13
sentence_transformers==4.1.0
jieba==0.42.1
langchain-huggingface==0.1.2
langchain==0.3.20
langchain-community==0.3.19
faiss-cpu==1.12.0
rank_bm25==0.2.2
numpy==1.26.4
torchvision==0.21.0
torchaudio==2.6.0
accelerate==1.9.0
evaluate==0.4.6
tqdm==4.67.1
